# The build changes only this directory for each distribution.
grub_theme_dir=/boot/grub/themes/manjaro-live

if [ -z "${default}" ]; then
    set default=biglinux-opt-1-start
fi
if [ -z "${timeout}" ]; then
    set timeout=10
fi
